body {
  margin: 0em;
  overflow: hidden;
}

.sphere {
  fill: #cfe5e3;
}

.country {
  fill: #ffffff;
  stroke: #cfe5e3;
  stroke-opacity: 0.4;
}

svg {
  height: 100%;
  width: 100%;
  float: left;
}