body {
  margin: 0em;
  overflow: hidden;
  background-color: #cfe5e3;
}

.sphere {
  fill: #cfe5e3;
}

.country {
  fill: #ffffff;
  stroke: #cfe5e3;
  stroke-opacity: 0.4;
}

svg {
  margin: 2em auto;
  background-color: #cfe5e3;
  display: block;
  text-align: center;
  max-width: 50em;
  ;
}

h1 {
  font-family: Montserrat;
  font-size: 1.2em;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ea4e55;
  padding: 1em;
  margin: .5em;
  display: inline-block;
}

#buttons a button {
  font-family: Montserrat;
  background-color: #ffffff;
  /* Green */
  border: none;
  color: #ea4e55;
  font-weight: bold;
  font-size: 1em;
  padding: .8em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0em .5em 0em 0em;
}

#buttons {
  display: block;
  justify-content: center;
  text-align: center;
}

#buttons a button.select {
  background-color: #ea4e55;
  color: #ffffff;
}

circle {
  fill: #ea4e55;
  opacity: .2;
}